<!DOCTYPE html>
<html lang="en">
<%- include ../partials/boilerplate.ejs %>

<%- include ../partials/navbar.ejs %>
  <h1>These are my recipes</h1>

<a href="/recipes/new">Add new recipes</a>

<% recipes.forEach(recipes => { %>
    <div class="recipes">
      <h4>
        <a href=<%= `/recipes/${recipes.id}` %>>
          <%= recipes.recipe %>
        </a>
      </h4>
    </div>
 <% }) %>

<%- include ../partials/footer.ejs %>
